*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
body{

}
.header_content{
    padding: 20px 0px;
    background-color: #000000;
}
.header_content-inner{
    display: flex;
    justify-content: space-between;
}
.header_logo{

}
.menu ul{
    display: flex;
}
.menu a{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
    color: #9a9a9a;

}
.menu li + li{
    padding-left: 10px;
}
.menu a:hover{
    border-color: #ff8b38;
}
.form{
    background-image: url(../img/form.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 642px;
}
.form_inner{
    padding-top: 112px;
    display: flex;
    justify-content: space-between;
}
.form-inner-info{
    max-width: 515px;
}
.form_logo{
    padding-bottom: 40px;
}
.form_title{
    position: relative;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: 0.5px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 40px;
}
.form_title:before{
    content: "";
    position: absolute;
    width: 65px;
    height: 2px;
    background-color: #fff;
    left: 0;
    top: 110px;
}
.form_text{
    font-size: 14px;
    line-height: 25px;
    color: #a5a6a8;
    letter-spacing: 0.5px;
    font-family: 'Raleway', sans-serif;
    padding-top: 25px;
    padding-bottom: 45px;
}
.form_btn{
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #ffffff;
    padding: 12px 30px;
}
.form-inner-forms{
    max-width: 360px;
    max-height: 362px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}
.form-inner-forms form{
    display: flex;
    flex-direction: column;
    padding: 0px 37px 51px;
}
.form_inner-titel{
    font-size: 14px;
    color: #000;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5;
    padding: 18px 0px;
    text-align: center;
    font-weight: 700;
    border-radius: 8px 8px 0px 0px;
}
.form_inner-titel-red{
    color: #ff8b38;
}
.form_inner-btn{
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    background-color: #ff9b51;
    padding: 18px 0px;
    text-align: center;
    font-weight: 700;
    border: none;
    border-radius: 0px 0px 8px 8px;
    outline: none;
    cursor: pointer;
}
.form-inner-forms label,
.form-inner-forms input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    color: #dedede;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.form-inner-forms label{
    padding-top: 40px;
}
.form-inner-forms input{
    padding-bottom: 10px;
    padding-left: 15px;
    outline: none;
}
.social{
    max-height: 110px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 5px;
}
.social_inner{
    display: flex;
    justify-content: space-between;
}
.social_info{
    max-width: 365px;
}
.social_title{
    font-size: 24px;
    color: #000;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    padding: 18px 0 15px;
    font-weight: 700;
}
.social_text{
    font-size: 14px;
    color: #a4a5a8;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
}
.social_icons{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    min-width: 635px;
}
.social_f,
.social_t,
.social_g,
.social_p,
.social_i,
.social_q,
.social_w{
    color: #cccccc;
    font-size: 60px;
    font-family: 'icomoon';
}
.social_f:after{
    content: "\f09a";
}
.social_t:after{
    content: "\f099";
}
.social_g:after{
    content: "\f0d5";
}
.social_p:after{
    content: "\f0d2";
}
.social_i:after{
    content: "\f16d";
}
.social_q:after{
    content: "\f1a4";
}
.social_w:after{
    content: "\f09e";
}
.slider{
    background-color: #f5f5f5;
}
.slider_inner{
    background-image: url(../img/citi.png);
    min-height: 590px;
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 145px;
}

/*Tab Стили*/

.tabs{
    display: flex;
    flex-direction: column;
}
.tabs__links{
    display: flex;
    flex-direction: row;
    order: 0;
    white-space: nowrap;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #e3f2fd;
    box-shadow: 0 2px 4px 0 #e3f2fd;
}
.tabs__links>a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #333333;
    padding: 45px 30px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;

}
.tabs>#content-1:target~.tabs__links>a[href="#content-1"],
.tabs>#content-2:target~.tabs__links>a[href="#content-2"],
.tabs>#content-3:target~.tabs__links>a[href="#content-3"]{
    background-color: #ff8b38;
    cursor: default;
}
.tabs>div:not(.tabs__links){
    display: none;
    order: 1;
    flex-grow: 1;
}
@media (min-width: 576px){
    .tabs{
        flex-direction: row;
    }

    .tabs__links{
        flex-direction: column;
        border: none;
        box-shadow: none;
    }

    .tabs__links>a{
        margin-bottom: 1px;
    }

    .tabs__links>a:last-child{
        margin-bottom: 0;
    }

    .tabs>div:not(.tabs__links){
        padding-left: 100px;
    }
}
.tabs>div:target{
    display: block;
    max-width: 580px;
}

/*Tab стили*/
.slider_title{
    font-size: 20px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.slider_text,
.slider_text-2{
    font-size: 14px;
    color: #bebec0;
    font-family: 'Open Sans', sans-serif;
    padding: 50px 0px 30px;
}
.slider_text-2{
    padding-top: 0px;
    padding-bottom: 50px;
}
.slider_btn{
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 30px;
    background-color: #ff8b38;
    border-radius: 5px;
}
.sub{

}
.sub_inner{
    background-image: url(../img/sub.png);
    min-height: 600px;
    background-repeat: no-repeat;
    padding-top: 105px;
    background-position: center left;

}
.sub_content{
    max-width: 444px;
    float: right;
    position: relative;
}
.sub_title{
    font-size: 20px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-bottom: 65px;
}
.sub_title:after{
    content: "";
    position: absolute;
    width: 65px;
    height: 2px;
    background-color: #ff8b38;
    left: 0;
    top: 55px;
}
.sub_text{
    font-size: 14px;
    color: #c3c3c5;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
}
.sub_save-title,
.sub_loading-title{
    font-size: 14px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 15px;
    padding-left: 70px;
    font-weight: 700;
    position: relative;
}
.sub_save-title:after{
    font-family: 'icomoon';
    content: "\f0ee";
    position: absolute;
    color: #ff8b38;
    font-size: 20px;
    left: 0px;
    top: 0px;
    border: 2px solid #ff8b38;
    padding: 10px 10px;
    border-radius: 50px;
}
.sub_loading-title:after{
    font-family: 'icomoon';
    content: "\f0ed";
    position: absolute;
    color: #ff8b38;
    font-size: 20px;
    left: 0px;
    top: 0px;
    border: 2px solid #ff8b38;
    padding: 10px 10px;
    border-radius: 50px;
}
.sub_save-text,
.sub_loading-text{
    font-size: 14px;
    color: #c3c3c5;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
    padding-left: 70px;

}
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/